* {
	--primary : #272b2f;
	--secondary : #fd413c;
	--tertiary : #febc2c;
	--text-primary : #ffffff;
	--text-secondary : #a4a6a7;
	--quarternary : #7b5fe5;
	--background-main : #212529;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: var(--background-main);
}

h3{
	color: white;
}

.sidebar {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	min-width: 10%;
	height: 100vh;
	background-color: var(--primary);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.sidebar .Logo p span {
	position: absolute;
	top: 7.5%;
	left: 28%;
	color: var(--text-secondary);
	font-size: 10px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sidemenu ul {
	position: absolute;
	left: -40px;
	list-style: none;


}

.sidemenu ul li {
	display: block;
	margin-bottom: 15px;
	max-height: 20px;
	padding: 0 0.8em;
	padding-bottom: 15px;
	cursor: pointer;
	font-family: 'Cairo', sans-serif;
	color: var(--text-secondary);
	font-size: 14px;
	font-weight: 900;
	box-sizing: border-box;
	list-style-position: inside;
	width: 125px;
	min-height: 30px;
}

.sidemenu ul li:hover{
	background: var(--secondary);
	color: var(--text-primary);


}

.sidemenu ul li .active {
	background: var(--secondary);
	border-radius: 10px;
	color: var(--text-primary);
}

.maincontent {
	position: absolute;
	top: 0;
	left: 10%;
	width: 70%;
	min-height: 100vh;
	background: var(--background-main);
	overflow-y: scroll;


}

.maincontent .dashboardtitle {
	position: absolute;
	top: 4%;
	left: 3.5%;
	font-family: 'Cairo', sans-serif;
	color: var(--text-primary);
	font-weight: 900;
	font-size: 25px;

}

.notesbox {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	min-height: 100vh;
	background: var(--primary);
}

.notesbox .notesHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--quarternary);
}

.notesbox .notesHeader .title {
	position: absolute;
	top: 5px;
	left: 23px;
	font-family: 'Cairo', sans-serif;
	color: var(--text-primary);
	font-size: 14px;
	font-weight: 600;
}

.notesbox .notesHeader .topic .heading {
	position: absolute;
	top: 17px;
	left: 23px;
	border: none;
	font-size: 22px;
	font-weight: 900;
	width: 80%;
	font-family: 'Cairo', sans-serif;
	background: none;
	color: var(--text-primary);
}

.notesbox .notesHeader .topic .subheading {
	position: absolute;
	top: 47px;
	left: 24px;
	border: none;
	font-size: 14px;
	font-weight: 900;
	width: 80%;
	font-family: 'Cairo', sans-serif;
	background: none;
	color: var(--text-primary);
}


::placeholder {
	color: var(--text-primary);
	opacity: 0.7;
}

.notesbox .notesHeader .expand {
	position: absolute;
	top: 12px;
	right: 10px;
	cursor: pointer;
	padding: 7px;
	display: flex;
	align-items: center;
	transition: 0.5s ease;
}

.notesbox .notesHeader .expand:hover {
	background: var(--tertiary);
	transform: rotate(45deg);
	border-radius: 50%;
}

.maincontent .dashboardwelcomemain {
	position: absolute;
	top: 12%;
	left: 3%;
	height: 15%;
	width: 40%;
	background: var(--quarternary);
	border-radius: 10px;
}

.maincontent .dashboardwelcome {
	position: absolute;
	top: 0;
	left: 3px;
	padding-top: 3px;
	padding-left: 7px;
	padding-bottom: 7px;
	padding-right: 7px;
	margin-left: 5px;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
}


.maincontent .prevdashboards {
	position: absolute;
	top: 30px;
	left: 16px;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 17px;

}

.maincontent .remainingtasks {
	position: absolute;
	top: 47px;
	left: 17px;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 17px;

}

.usericon {
	position: absolute;
	top: 10px;
	left: 270px;
	padding: 7px;
	transition: 1s ease;
	background-color: var(--quarternary);
	border-radius: 50%;
	cursor: pointer;
	border: solid 1px #eeeeee;
}

.usericon:hover {
	background-color: var(--tertiary);
	border-radius: 50%;
	transform: rotate(360deg);
}


.textbox {
	position: absolute;
	top: 30%;
	left: 3%;
	width: 50%;
	height: 46%;
	background: var(--primary);
	border-radius: 20px;
}

.textbox .textheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
}

.textbox .textheader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 8px;
	margin-top: 5px;
	margin-left: 7px;
	color: var(--text-primary);
	background-color: var(--quarternary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 1s ease;
}

.textbox .textheader span:hover {
	transform: rotate(180deg);
}

.textbox .textheader p {
	position: absolute;
	left: 42px;
	top: -22px;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: var(--text-primary);
}

.textbox .textboxarea {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	left: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	min-width: 98%;
	min-height: 79%;
	resize: none;
	background: var(--primary);
	border: solid 0.5px var(--background-main);
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}


.summarybox {
	position: absolute;
	top: 30%;
	left: 53.75%;
	width: 38.5%;
	height: 46%;
	background: var(--primary);
	border-radius: 20px;
}

.summarybox .summaryheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
}

.summarybox .summaryheader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 8px;
	margin-top: 5px;
	margin-left: 7px;
	color: var(--text-primary);
	background-color: var(--quarternary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 1s ease;
}

.summarybox .summaryheader span:hover {
	transform: rotate(180deg);
}

.summarybox .summaryheader p {
	position: absolute;
	left: 42px;
	top: -22px;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: var(--text-primary);
}

.summarybox .summaryboxarea {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	left: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 6px;
	margin-left: 4px;
	min-width: 98%;
	min-height: 79%;
	resize: none;
	background: var(--primary);
	border: solid 0.5px var(--background-main);
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}


.statbox {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 80%;
	left: 3%;
	width: 89%;
	height: 15%;
}

.statbox .totalwords {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 22%;
	background: var(--tertiary);
	border-radius: 10px;
}

.statbox .totalwords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 22px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .totalwords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .totalwords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}

.statbox .summarywords {
	position: absolute;
	top: 0;
	left: 25%;
	height: 100px;
	width: 22%;
	background: var(--quarternary);
	border-radius: 10px;
}

.statbox .summarywords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .summarywords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .summarywords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}


.statbox .namedentities {
	position: absolute;
	left: 50%;
	height: 100px;
	width: 22%;
	background: var(--tertiary);
	border-radius: 10px;
}

.statbox .namedentities .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .namedentities .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 35%;
}

.statbox .namedentities .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}


.statbox .keywords {
	position: absolute;
	top: 0;
	left: 75%;
	height: 100px;
	width: 22%;
	background: var(--quarternary);
	border-radius: 10px;

}

.statbox .keywords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .keywords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .keywords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}

.buttons {
	position: absolute;
	top: 12%;
	left: 50%;
	height: 85px;
	width: 42%;
}


.loaddashboard {
	position: absolute;
	top: 0;
	left: 0;
	background: var(--tertiary);
	height: 35px;
	width: 45%;
	border-radius: 15px;
	cursor: pointer;
}

.loaddashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.loaddashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--quarternary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.loaddashboard img:hover {
	transform: rotate(180deg);
}

.savedashboard {
	position: absolute;
	top: 42px;
	left: 0;
	background: var(--tertiary);
	height: 35px;
	width: 45%;
	border-radius: 15px;
	cursor: pointer;
}

.savedashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.savedashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--quarternary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.savedashboard img:hover {
	transform: rotate(180deg);
}

.cleardashboard {
	position: absolute;
	top: 0;
	left: 185px;
	background: var(--quarternary);
	height: 35px;
	width: 45%;
	border-radius: 15px;
	cursor: pointer;
	margin-left: 10px;
}

.cleardashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.cleardashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--tertiary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.cleardashboard img:hover {
	transform: rotate(180deg);
}

.addResource {
	position: absolute;
	top: 42px;
	left: 185px;
	background: var(--quarternary);
	height: 35px;
	width: 45%;
	border-radius: 15px;
	cursor: pointer;
	margin-left: 10px;
}

.addResource span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.addResource img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--tertiary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.addResource img:hover {
	transform: rotate(180deg);
}


.Resourcebox {
	position: absolute;
	top: 100%;
	left: 3%;
	width: 700px;
	margin-bottom: 20px;
}

.Resourcebox ul {
	list-style: none;
}

.Resourcebox ul li {
	margin-bottom: 20px;
}


.Resourcebox ul li .resources1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	background-color: transparent;
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.Resourcebox ul li .resources2 {
	position: absolute;
	top: 375px;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.Resourcebox ul li .resources3 {
	position: absolute;
	top: 750px;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.Resourcebox ul li .resources4 {
	position: absolute;
	top: 1125px;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}


.Resourcebox ul li .resources5 {
	position: absolute;
	top: 1500px;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.Resourcebox ul li .resources6 {
	position: absolute;
	top: 1875px;
	left: 0;
	width: 100%;
	border: solid 2px var(--text-secondary);
	border-radius: 10px;
	height: 300px;

	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-primary);
}

.resourceheader {
	position: absolute;
	top: 5px;
	left: 15px;
	font-family: 'Cairo', sans-serif;
	font-size: 900;
	font-size: 25px;
	margin-bottom: 10px;

}

.resourceheader span{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}


.resourcesite {
	position: absolute;
	top: 45px;
	left: 40px;
	font-family: 'Cairo', sans-serif;
	font-size: 900;
	font-size: 15px;
	color: var(--text-secondary);
	overflow-y: scroll;
	width: 650px;
}

.resourceheader a{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.resourcedescription {
	position: absolute;
	top: 75px;
	left: 40px;
	width: 650px;
	height: 40px;
	overflow-y: scroll;
}

.resourcedescription span
{
	padding-left: 5px;
	padding-right: 5px;
	display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.resourceimage {
	position: absolute;
	left: 40px;
	top: 135px;

}

.resourceimage img{
	max-width: 300px;
	max-height: 150px;
	border-radius: 5px;
	margin-left: 5px;
}

.box {
	background: var(--text-secondary);
	color: var(--primary);
	position: absolute;
	top: 50px;
	left: 30px;
	width: 4px;
	height: 240px;
	border-radius: 3px;
}


.resourcetag {
	position: absolute;
	top: 85%;
	left: 85%;
	padding: 5px;
	width: fit-content;
	border: solid 1px var(--quarternary);
	background-color: var(--quarternary);
	font-size: 12px;
	border-radius: 8px;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
	background: var(--tertiary);
	border-radius: 2px;
}