* {
	--primary : #272b2f;
	--secondary : #fd413c;
	--tertiary : #febc2c;
	--text-primary : #ffffff;
	--text-secondary : #a4a6a7;
	--quarternary : #7b5fe5;
	--background-main : #212529;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: var(--background-main);
}

.sidebar {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	min-width: 10%;
	height: 100vh;
	background-color: var(--primary);
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.sidebar .Logo p span {
	position: absolute;
	top: 7.5%;
	left: 28%;
	color: var(--text-secondary);
	font-size: 10px;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sidemenu ul {
	position: absolute;
	left: -40px;
	list-style: none;


}

.sidemenu ul li {
	display: block;
	margin-bottom: 15px;
	max-height: 20px;
	padding: 0 0.8em;
	padding-bottom: 15px;
	cursor: pointer;
	font-family: 'Cairo', sans-serif;
	color: var(--text-secondary);
	font-size: 14px;
	font-weight: 900;
	box-sizing: border-box;
	list-style-position: inside;
	width: 125px;
	min-height: 30px;
}

.sidemenu ul li:hover{
	background: var(--secondary);
	color: var(--text-primary);


}

.sidemenu ul li .active {
	background: var(--secondary);
	border-radius: 10px;
	color: var(--text-primary);
}

.maincontent {
	position: absolute;
	top: 0;
	left: 10%;
	width: 70%;
	min-height: 100vh;
	background: var(--background-main);
	overflow-y: scroll;


}

.maincontent .dashboardtitle {
	position: absolute;
	top: 4%;
	left: 3.5%;
	font-family: 'Cairo', sans-serif;
	color: var(--text-primary);
	font-weight: 900;
	font-size: 25px;

}

.notesbox {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	min-height: 100vh;
	background: var(--primary);
}

.notesbox .notesHeader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--quarternary);
}

.notesbox .notesHeader .title {
	position: absolute;
	top: 7%;
	left: 7%;
	font-family: 'Cairo', sans-serif;
	color: var(--text-primary);
	font-size: 14px;
	font-weight: 600;
}

.notesbox .notesHeader .topic .heading {
	position: absolute;
	top: 20%;
	left: 7%;
	border: none;
	font-size: 22px;
	font-weight: 900;
	width: 80%;
	font-family: 'Cairo', sans-serif;
	background: none;
	color: var(--text-primary);
}

.notesbox .notesHeader .topic .subheading {
	position: absolute;
	top: 55%;
	left: 7%;
	border: none;
	font-size: 14px;
	font-weight: 900;
	width: 80%;
	font-family: 'Cairo', sans-serif;
	background: none;
	color: var(--text-primary);
}


::placeholder {
	color: var(--text-primary);
	opacity: 0.7;
}

.notesbox .notesHeader .expand {
	position: absolute;
	top: 15%;
	left: 88%;
	cursor: pointer;
	padding: 7px;
	display: flex;
	align-items: center;
	transition: 0.5s ease;
}

.notesbox .notesHeader .expand:hover {
	background: var(--tertiary);
	transform: rotate(45deg);
	border-radius: 50%;
}

.maincontent .dashboardwelcome {
	position: absolute;
	top: 12%;
	left: 3%;
	height: 90px;
	width: 40%;
	background: var(--quarternary);
	border-radius: 10px;
}

.maincontent .dashboardwelcome {
	position: absolute;
	padding-top: 3px;
	padding-left: 7px;
	padding-bottom: 7px;
	padding-right: 7px;
	margin-left: 5px;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;

}

.maincontent .prevdashboards {
	position: absolute;
	top: 18%;
	left: 4.35%;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 17px;

}

.maincontent .remainingtasks {
	position: absolute;
	top: 21.5%;
	left: 4.35%;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 17px;

}

.usericon {
	position: absolute;
	top: 14%;
	left: 34%;
	padding: 7px;
	transition: 1s ease;
	background-color: var(--quarternary);
	border-radius: 50%;
	cursor: pointer;
	border: solid 1px #eeeeee;
}

.usericon:hover {
	background-color: var(--tertiary);
	border-radius: 50%;
	transform: rotate(360deg);
}


.textbox {
	position: absolute;
	top: 30%;
	left: 3%;
	width: 50%;
	height: 265px;
	background: var(--primary);
	border-radius: 20px;
}

.textbox .textheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
}

.textbox .textheader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 8px;
	margin-top: 5px;
	margin-left: 7px;
	color: var(--text-primary);
	background-color: var(--quarternary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 1s ease;
}

.textbox .textheader span:hover {
	transform: rotate(180deg);
}

.textbox .textheader p {
	position: absolute;
	left: 11%;
	top: -22px;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: var(--text-primary);
}

.textbox .textboxarea {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	left: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	min-width: 98%;
	min-height: 210px;
	resize: none;
	background: var(--primary);
	border: solid 0.5px var(--background-main);
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}


.summarybox {
	position: absolute;
	top: 30%;
	left: 53.75%;
	width: 38.5%;
	height: 265px;
	background: var(--primary);
	border-radius: 20px;
}

.summarybox .summaryheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
}

.summarybox .summaryheader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 8px;
	margin-top: 5px;
	margin-left: 7px;
	color: var(--text-primary);
	background-color: var(--quarternary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 1s ease;
}

.summarybox .summaryheader span:hover {
	transform: rotate(180deg);
}

.summarybox .summaryheader p {
	position: absolute;
	left: 14%;
	top: -22px;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: var(--text-primary);
}

.summarybox .summaryboxarea {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 15%;
	left: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 6px;
	margin-left: 4px;
	min-width: 98%;
	min-height: 210px;
	resize: none;
	background: var(--primary);
	border: solid 0.5px var(--background-main);
	font-family: 'Cairo', sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}


.statbox {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 80%;
	left: 3%;
}

.statbox .totalwords {
	height: 100px;
	width: 175px;
	background: var(--tertiary);
	border-radius: 10px;
}

.statbox .totalwords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 22px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .totalwords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .totalwords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}

.statbox .summarywords {
	position: absolute;
	left: 115%;
	height: 100px;
	width: 175px;
	background: var(--quarternary);
	border-radius: 10px;
}

.statbox .summarywords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .summarywords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .summarywords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}


.statbox .namedentities {
	position: absolute;
	left: 230%;
	height: 100px;
	width: 175px;
	background: var(--tertiary);
	border-radius: 10px;
}

.statbox .namedentities .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .namedentities .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 35%;
}

.statbox .namedentities .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}


.statbox .keywords {
	position: absolute;
	left: 345%;
	height: 100px;
	width: 175px;
	background: var(--quarternary);
	border-radius: 10px;

}

.statbox .keywords .totalwordslength {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	position: absolute;
	top: 4%;
	left: 5%;
	font-weight: 900;
}

.statbox .keywords .totalwordsnumber {
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 50px;
	position: absolute;
	top: 15%;
	right: 30%;
}

.statbox .keywords .words {
	position: absolute;
	bottom: 15%;
	right: 5%;
	color: var(--text-primary);
	font-size: 12px;
	font-weight: 900;
}


.loaddashboard {
	position: absolute;
	top: 12%;
	left: 50%;
	background: var(--tertiary);
	height: 35px;
	width: 170px;
	border-radius: 15px;
	cursor: pointer;
}

.loaddashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.loaddashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--quarternary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.loaddashboard img:hover {
	transform: rotate(180deg);
}

.savedashboard {
	position: absolute;
	top: 20%;
	left: 50%;
	background: var(--tertiary);
	height: 35px;
	width: 170px;
	border-radius: 15px;
	cursor: pointer;
}

.savedashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.savedashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--quarternary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.savedashboard img:hover {
	transform: rotate(180deg);
}

.cleardashboard {
	position: absolute;
	top: 20%;
	left: 71%;
	background: var(--quarternary);
	height: 35px;
	width: 170px;
	border-radius: 15px;
	cursor: pointer;
}

.cleardashboard span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.cleardashboard img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--tertiary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.cleardashboard img:hover {
	transform: rotate(180deg);
}

.addResource {
	position: absolute;
	top: 12%;
	left: 71%;
	background: var(--quarternary);
	height: 35px;
	width: 170px;
	border-radius: 15px;
	cursor: pointer;
}

.addResource span {
	position: absolute;
	top: 10%;
	left: 20%;
	text-decoration: none;
	color: var(--text-primary);
	font-family: 'Cairo', sans-serif;
	font-size: 900;
}

.addResource img {
	position: absolute;
	top: 18%;
	left: 3%;
	background: var(--tertiary);
	border-radius: 50%;
	transition: 0.5s ease;
}

.addResource img:hover {
	transform: rotate(180deg);
}


.resourcebox1 {
	position: absolute;
	top: 102%;
	left: 4%;
	width: 42%;
	min-height: 265px; 
	background: var(--primary);
	border-radius: 10px;
	margin-bottom: 15px;
}


.resourcebox2 {
	position: absolute;
	top: 102%;
	left: 48%;
	width: 42%;
	min-height: 265px; 
	background: var(--primary);
	border-radius: 10px;
	margin-bottom: 15px;
}

.resourcebox3 {
	position: absolute;
	top: 152%;
	left: 4%;
	width: 42%;
	min-height: 265px; 
	background: var(--primary);
	border-radius: 10px;
	margin-bottom: 15px;
}

.resourcebox4 {
	position: absolute;
	top: 152%;
	left: 48%;
	width: 42%;
	min-height: 265px; 
	background: var(--primary);
	border-radius: 10px;
	margin-bottom: 15px;
}


.resourceheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 10px;
}

.resourceheader span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	padding: 8px;
	margin-top: 5px;
	margin-left: 7px;
	color: var(--text-primary);
	background-color: var(--quarternary);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: 1s ease;
}

.resourceheader span:hover {
	transform: rotate(180deg);
	cursor: pointer;
}

.resourceheader p {
	position: absolute;
	left: 14%;
	top: -22px;
	font-family: 'Cairo', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: var(--text-primary);
}

.resourcecontent {
	position: absolute;
	top: 12%;
	padding-right: 2px;
	padding-left: 2px;
	margin: 3px;
	margin-top: 10px;
	border: solid 1px var(--background-main);
	height: 210px;
	overflow-y: scroll;
}

.resourcecontent p {
	color: var(--text-secondary);
	
}


::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
	background: var(--tertiary);
	border-radius: 2px;
}