<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>GAMR-Your Work Optimization Tool</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="page">
		<div class="menu-wrapper">
			<input type="checkbox" class="toggle" />

			<div class="hamburger">
				<div class="bar">
					
				</div>	
			</div>
			<div class="menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'meeting:all' %}">Meeting</a></li>
					<li><a href="{% url 'home' %}">Study</a></li>
					<li><a href="{% url 'home' %}">About</a></li>
					<li><a href="{% url 'home' %}">Settings</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'accounts:login' %}">Login</a></li>
					<li><a href="{% url 'accounts:signup' %}">Signup</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	<div class="project">
		<p>a project by</p>
	</div>
	<div class="banner-area">
		<h1>Welcome <span class="type"></span></h1>
	</div>
	<script src="{% static 'js/typed.js' %}"></script>
	<script>
		var typed = new Typed('.type', {
  			strings: [
  			'Professionals', 
  			'Students',
  			'Teachers',
  			'Doctors'
  			],
  			typeSpeed: 80,
  			backSpeed: 80,
  			loop: true
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
	<div class="GAMR">
		<div class="data">
			GAMR
		</div>
	<script type="text/javascript">
		const text = baffle(".data");
		text.set({
			characters: 'ღ⁂€☀☁☂⇝☸☯☣☠❥❧♜♛❆░☞✯',
			speed: 120
		});
		text.start();
		text.reveal(40000);	
	</script>
	</div>

	{% if user.is_authenticated %}
	<div class="container">
		<div class = 'card'>
			<div class="face face1">
				<div class="content">
					<img src="{% static 'media/Meeting.png' %}">
					<h3>Meeting Mode</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<p>Stuck in a meeting, classroom or conference?
					Dont worry! We got you covered. Meeting mode will
					record your entire meeting and generate a well prepared
					summary for you.</p>
					<a href="{% url 'meeting:all' %}">Continue</a>
				</div>
			</div>
		</div>
		<div class = 'card'>
			<div class="face face1">
				<div class="content">
					<img src="{% static 'media/Study.png' %}">
					<h3>Study Mode</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<p>Too much to study and too little time?
					Dont worry! We got you covered. Study
					Mode will help you optimize your study time and
					make your work more efficient.</p>
					<a href="#">Continue</a>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="banner">
		<h3>Please <a href="{% url 'accounts:login' %}"><span>Login</span></a> or <a href="{% url 'accounts:signup' %}"><span>Signup!</span></a></h3>
	</div>
	{% endif %}
	<div id="particles-js"></div>
	<script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>