{% extends "base.html" %}
{% load static %}
{% block content %}

    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div class="shadow-overlay"></div>
        <div class="home-content">
            <div class="row home-content__main">
            {% if user.is_authenticated %}
            <div class="home-content__left">
                <a href="{% url 'meeting:create' %}" class="btn btn-outline-light btn-lg">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Create Meeting
                </a>  
                <a href="{% url 'meeting:create' %}" class="btn btn-outline-light btn-lg">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Join Meeting
                </a>      
            </div>

            <hr>

            {% for meeting in object_list %}
                {% if user in meeting.members.all %}
                <div class="flexcontainer">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img src="{% static 'css/Business.svg' %}">
                        </div>
                        <div class="contentBx">
                            <h2>{{meeting.meeting_name}}</h2>
                            <p>Meeting Description.<br>
                            {{meeting.description}}
                            </p>
                            <a href="{% url 'meeting:room' slug=meeting.slug %}"><span>Continue to meeting</span></a>
                            <a href="{% url 'meeting:leave' slug=meeting.slug %}"><span>Leave meeting</span></a>
                        </div>
                    </div>
                </div>
                </div>
                {% endif %}
            {% empty %}
                <h2>No Meetings to show.</h2>
            {% endfor %}
            </div>
        </div>
        {% else %}
            <h1>Please Login or Signup!</h1>
        {% endif %}
    </section>

{% endblock content %}

