{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
  <div class="shadow-overlay"></div>
  <div class="home-content">
    <div class="row home-content__main">
      <div class="home-content__left">
    <h1>Create a Meeting Room:</h1>
    <form method="POST" action="{% url 'meeting:create' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input id="go-to-meeting" type="submit" class="btn btn-outline-light" value="Create/Join Meeting">
        <input id="generate-code" type="button" class="btn btn-outline-light mx-3" value="Generate Code">
    </form>
      </div>
    </div>
  </div>
</section>        
    <script>
        function makeMeetingCode() {
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for ( var i = 0; i < 6; i++ ) {
               result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
         }

        var codeField = document.querySelector('#id_meeting_code');
        var submit = document.querySelector('#go-to-meeting');
        document.querySelector('#id_meeting_code').focus();
        var roomName;
        document.querySelector('#generate-code').onclick = function(e) {
            roomName = makeMeetingCode();
            codeField.value = roomName;
            //codeField.disabled = true;
            document.querySelector('#generate-code').disabled = true;
        };
        // submit.onclick = function(e) {
        //    window.location.pathname = '/meeting/dashboard' + roomName + '/';
        // }
    </script>
{% endblock content %}
